services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Add volume for data persistence

  web:
    build: .
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:password@db:5432/test_db
      SECRET_KEY: SaJo5Q7tDagL0YTSUYugJ2EZm1Wn09zW/58srLs+bhw=
    ports:
      - "8000:8000" # Fixed port mapping
# Optional: for development with hot reload

volumes:
  postgres_data:
